body {
    background-color: var(--supplement-color) !important;
    margin: 0px !important;
}

:root {
    --primary-color: deepskyblue;
    --secondary-color: black;
    --supplement-color: #6E8387;
}

@media (max-width: 1120px) {
    #launch-video-button{
       top: 12% !important;
       left: 15% !important; 
    }
    #facility-tour-button{
        top: 130% !important;
        left: 50% !important;
    }
    #team-video-button {
        top: 75% !important;
        left: 10% !important;
    }
}

@media (max-width: 1000px){
    .header-text{
        position: absolute;
        left: 50%;
        top: 1%;
        transform: translate(-50%);
        margin: 0px !important;
        width: max-content;
    }
    .top-navbar-item-list{
        display: none !important;
    }
}

@media (max-width: 850px){
    #services{
        background-image: url("../rocket-repair/images/warehouse-cropped.jpg") !important;
    }
    #quotes-section{
        background-image: url("../rocket-repair/images/night-launch-small.jpg") !important;
    }
}

@media (max-width: 490px){
    #extras{
        background-image: url("../rocket-repair/images/rocket-display-cell-dark.jpg") !important;
    }
}

.header{
    background-image: url("../rocket-repair/images/space-bg.jpg");
    width: 100vw;
    height: 50px;
    background-size: cover;
}

.header-text{
    font-family: Nova Flat, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 28px;
    color: white;
    -webkit-text-stroke: 1px var(--secondary-color);
    margin-right: 50px;
}

.top-navbar-items{
    width: 100vw;
    height: min-content;
    overflow: hidden;
}

.top-navbar-item-list{
    color: white;
    position: relative;
    display: inline-block;
    font-family: Nova Flat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 16px;
    text-align: center;
}

.top-navbar-item-list:hover{
    color: var(--primary-color);
    background-color:var(--secondary-color);
    transition: 300ms;
    cursor: pointer;
}

.top-navbar-item-list a{
    text-decoration: none;
    color: white;
}

.top-navbar-item-list:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 200px;
    margin: 10px -16px;
    z-index: 999;
}

.dropdown-content a{
    display: block;
    text-align: left;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    padding: 8px 15px;
    z-index: 998;
}

.top-navbar label{
    font-size: 40px !important;
    color: white;
    float: right;
    padding: 0px 16px;
    margin-top: -10px;
}

.top-navbar input{
    display: none;
}

.top-navbar label:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

ul .hamburger-item{
    display: none;
}
#hamburger{
    opacity: 0;
}
#hamburger:checked + ul .hamburger-item{
    display: block;
    text-align: end;
    z-index: 997;
    position: relative;
    height: fit-content;
    margin: 23px;
}

/*Hero Image Gallery*/
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: var(--secondary-color);
    border-radius: 90px;
    border: 2px solid var(--secondary-color);
}

.carousel-indicators{
    background: black;
    border: 2px solid var(--secondary-color);
    border-radius: 45px;
    opacity: 50%;
    margin-right: 40% !important;
    margin-bottom: 1rem;
    margin-left: 40% !important;
}

.low-button{
    opacity: 100% !important;
}

#services{
    background-image: url("../rocket-repair/images/warehouse.jpg");
    width: 100vw;
    height: 700px;
    position: relative;
}

.services-section{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.services-title, .service-list{
    font-family: Nova Flat, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--primary-color);
    -webkit-text-stroke: 1px var(--secondary-color);
    padding: 2px;
}

.services-title{
    font-size: clamp(30px, 4vw, 46px);
    text-decoration: underline solid black;
}

.service-list{
    font-size: clamp(28px, 4vw, 40px);
}

.button{
    font-size: 24px;
    width: 220px;
    height: 60px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.button:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);
    transition: 300ms;
}

#repair-video-button{
    margin-top: 10px;
}

#quotes-section{
    background-image: url("../rocket-repair/images/night-launch.jpg");
    width: 100vw;
    height: 700px;
    position: relative;
}

#free-quotes{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-25%, -50%);
}

.h2-text{
    color: #fff;
    font-size: clamp(28px, 4vw, 46px);
    text-decoration: underline solid white;
}

.services-text{
    color: #fff;
    font-size: 24px;
    max-width: 300px;
}

#launch-video-button{
    width: 330px !important;
    position: absolute;
    top: 50%;
    left: 60%;
    height: 100px;
    transform: translate(0%, -50%);
}

#extras{
    background-image: url("../rocket-repair/images/rocket-display.jpg");
    width: 100vw;
    height: 700px;
    background-size: cover;
    position: relative;
}

.extras-section{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bbb{
    background-color: var(--secondary-color);
    height: 70px;
    width: 220px;
}

.bbb:hover{
    cursor: pointer;
}

#gallery-button, #reviews-button{
    margin-top: 20px;
}

#facility-tour-button{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 50%;
    right: 66%;
    transform: translate(-50%, -50%);
}

#contact{
    background-image: url("../rocket-repair/images/rocket-launch.jpg");
    width: 100vw;
    height: 700px;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}

.form{
    margin: 30px;
}

.div-contact{
    font-family: Nova Flat;
    font-size: 26px;
    color: #fff;
    text-decoration: underline;
    margin: 30px 0px 24px 10px;
}

.form input, #message{
    border: 1px solid var(--primary-color);
    margin: 12px;
    text-align: left !important;
}

#send-button{
    margin: 15px;
}

#fb{
    margin: 10px;
    width: 50px;
    height: 50px;
}

#twitter{
    width: 50px;
    height: 50px; 
}

#linkedin{
    width: 65px;
    height: 65px;
    position: relative;
    top: 3px;
}

.icons:hover{
    cursor: pointer;
}

#team-video-button{
    position: absolute;
    top: 10%;
    left: 60%;
    height: 100px;
    width: 300px;
}

.footer{
    margin: 30px;
}

.footer-text{
    display: block;
    text-align: center;
}

.footer-navbar-contact-items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer-navbar-items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer-link{
    color: #000;
    text-decoration: none;
}

.footer-link:hover{
    color: var(--primary-color);
}

input, #message{
    color: rgb(189, 189, 189);
}