body {
    background-color: gray !important;
    margin: 0px !important;
}

@media (max-width: 1068px){
    .flex-div{
        position: relative;
        top: 90px;
    }
    .logo{
        position: relative;
        top: -45px;
    }
}

@media (max-width: 1020px){
    #quotes-section{
        height: 1220px !important;
    }
    #button3{
        margin-top: 25px !important;
    }
}

@media (max-width: 900px){
    .header{
        position: relative !important;
        top: 118px !important;
        height: 200px !important;
    }
    .flex-div{
        position: relative;
        top: 100px !important;
    }
    #hero, #services{
        position: relative;
        top: 115px;
    }
    #quotes-section, #extras, #contact{
        position: relative;
        top: 0px;
    }
    form button{
        margin-left: 3vw;
    }
}
@media (max-width: 708px){
    #contact{
        background-image: url("../rocket-repair/images/contactspace.jpg") !important;
        background-size: cover;
        height: 1000px !important;
    }
    .connected-text{
        color: var(--primary-color) !important;
        -webkit-text-stroke: .5px var(--secondary-color) !important;
    }
    #directions.connected-text:hover{
        color: black !important;
        cursor: pointer;
    }
}

@media (max-width: 680px){
    #quotes-section{
        background-image: url("../rocket-repair/images/longspace.jpg") !important;
        background-size: cover;
        height: 1830px !important;
    }
    #button2{
        margin-top: 18px !important;
    }
}

@media (max-width: 460px){
    .top-navbar-items{
        position: relative !important;
        width: 100vw;
        margin: auto !important;
    }
    .top-navbar-item-list{
        width: 160px !important;
    }
    .header{
        position: relative !important;
        top: 0px !important;
        height: 100px !important;
    }
    .flex-div{
        position: relative !important;
        top: 40px !important;
    }
    #hero, #services{
        position: relative;
        top: 0px !important;
    }
    .service-button{
        position: relative;
        right: 10px !important;
        width: 80px !important;
        height: 80px !important;
    }
    #quotes-section, #extras, #contact{
        position: relative !important;
        top: -95px !important;
    }
}

:root {
    --primary-color: white;
    --secondary-color: #231123;
    --supplement-color: #6E8387;
}

.top-navbar-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    margin: auto !important;
    width: 100vw;
    z-index: 9999;
}

.top-navbar-item-list{
    color: var(--primary-color);
    display: inline;
    font-family: Nova Flat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 16px;
    text-align: center;
    width: 160px;
}

.top-navbar-item-list:hover{
    color: var(--primary-color);
    background-color:var(--secondary-color);
    transition: 300ms;
    cursor: pointer;
}

.header{
    background-image: url("../rocket-repair/images/space-bg.jpg");
    width: 100vw;
    height: 300px;
    background-size: cover;
}

.flex-div{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: auto;
    position: relative;
    width: 90vw;
    top: 140px;
}

.logo{
    width: clamp(50px, 12%, 90px);
    position: relative;
    top: -15px;
    height: max-content;
}

.header-text{
    font-family: Nova Flat, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: clamp(12px, 7vw, 65px);
    color: var(--primary-color);
    -webkit-text-stroke: 1px var(--secondary-color);
}
/*Hero Image Gallery*/
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: var(--secondary-color);
    border-radius: 90px;
    border: 2px solid var(--secondary-color);
}

.carousel-indicators{
    background: black;
    border: 2px solid var(--secondary-color);
    border-radius: 45px;
    opacity: 50%;
    margin-right: 40% !important;
    margin-bottom: 1rem;
    margin-left: 40% !important;
}

.low-button{
    opacity: 100% !important;
}

#services{
    background-image: url("../rocket-repair/images/warehouse.jpg");
    width: 100vw;
    background-size: cover;
}

.services-title, .service-list{
    font-family: Nova Flat, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: var(--primary-color);
    -webkit-text-stroke: 1px var(--secondary-color);
    padding: 2px;
}

.services-title{
    font-size: 3vw;
}

.service-list{
    font-size: 2vw;
}

.service-button{
    height: 70px;
    width: 120px;
    float: right;
    position: relative;
    bottom: 130px;
    right: 50px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.service-button:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    transition: 300ms;
}

#quotes-section{
    background-image: url("../rocket-repair/images/bigspace.jpg");
    width: 100vw;
    height: 610px;
    background-size: cover !important;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    position: relative;
    bottom: 120px;
}

#stellar-repairs, #free-quotes, #preventive-maintenance{
    max-width: 300px;
    text-align: center;
    margin: 20px;
}


.h2-text{
    color: #fff;
    -webkit-text-stroke: 1px var(--primary-color);
    font-size: 28px;
    margin-top: 10px;
}

.services-text{
    color: #fff;
    background: var(--primary-color);
    font-size: 16px;
}

.prev-maintenance{
    margin-bottom: 14px !important;
}

.rqp-buttons{
    height: 70px;
    width: 120px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.rqp-buttons:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    transition: 300ms;
}

#button3{
    margin-top: 43px;
}

#button2{
    margin-top: 98px;
}

#extras{
    background-image: url("../rocket-repair/images/warehouse2.jpg");
    width: 100vw !important;
    height: 400px;
    background-size: cover;
    position: relative;
    bottom: 120px;
}

.extras-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.extras-button{
    margin: 16px;
    list-style-type: none;
    text-decoration: none;
    display: inline;
    font-family: Nova Flat, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    background-color: var(--supplement-color);
    fill: var(--supplement-color);
    padding: 16px;
    border: 3px solid var(--secondary-color);
    text-align: center;
    width: 360px;
    height: 100px;
    border-radius: 45px;
}

.extras-button:hover{
    background-color: var(--secondary-color);
    color: var(--supplement-color);
    transition: 300ms;
}

#contact{
    background-image: url("../rocket-repair/images/space-bg.jpg");
    width: 100vw;
    height: 500px;
    background-size: cover;
    position: relative;
    bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.div-contact{
    font-family: Nova Flat;
    font-size: 26px;
    color: #fff;
    -webkit-text-stroke: 1px var(--primary-color);
    text-decoration: underline;
    text-align: center;
    margin: 30px 0px 24px 0px;
}

.stay-connected{
    font-family: Nova Flat;
    width: 355px;
    text-align: center;
    margin: 4px 0px;
}

.form input, #message{
    border: 1px solid var(--primary-color);
    margin: 12px;
    text-align: left !important;
}

.connected-text{
    font-family: Nova Flat;
    color: #fff;
    -webkit-text-stroke: 1px var(--primary-color);
    font-size: 22px;
}

.hours{
    position: relative;
    bottom: 20px;
}

#fb{
    margin-right: 10px;
}

#directions{
    text-decoration: underline;
}

#directions.connected-text:hover{
    color: black;
    -webkit-text-stroke: 1px #fff;
    cursor: pointer;
}

.icons:hover{
    cursor: pointer;
}

#linkedin{
    width: 95px;
    height: 98px;
    position: relative;
    top: 3px;
}

.footer-text{
    display: block;
    text-align: center;
}

.footer-navbar-items {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.footer-link{
    color: #000;
    text-decoration: none;
}

.footer-link:hover{
    color: var(--primary-color);
}

input, #message{
    color: rgb(189, 189, 189);
}